---
layout: post
title: "Week {{ GOTW_WEEK }} - GOTW: {{ GOTW_TEAM1 }} - {{ GOTW_TEAM2 }}"
author: srang
date:   {{ GOTW_DATE }}
categories: football
tags:
  - football
  - game of the week
  - {{ GOTW_TEAM1 | lower }}
  - {{ GOTW_TEAM2 | lower }}
---

Content
