.post-title {
  margin-right: 12px;
}

.tag-list .post-tag {
  font-family: mono;
  font-size: 55%;
  padding: 5px 7px;
  border-radius: 5px;
  color: #ddd;
  background-color: #888;
}

.about-link {
  color: #666 !important;
}